In [4]:
import os
from dotenv import load_dotenv
from flask_cors import CORS
import pandas as pd
import re
import os

In [11]:
def preprocess_text(text, type):
    if type == 'name':
        match = re.search(r'Nama[\xa0]*:?\s*(.*)', text)
    elif type == 'job_title':
        match = re.search(r'Job Title[\xa0]*:?\s*(.*)', text)
    else:
        match = re.search(r'Job Level[\xa0]*:?\s*(.*)', text)
    if match:
        return match.group(1).strip()  # Return the name, stripping any leading/trailing spaces
    return None

In [30]:
# Define the file path
file_path = "HCCA 2023 MM.xlsx"
file_name = os.path.basename(file_path)

# Extract the division and year from the file name using regex
match = re.match(r"([A-Za-z]+)\s(\d{4})", file_name)
division = ''
year = ''
if match:
    division = match.group(1)  # HCCA (Division)
    year = match.group(2)      # 2023 (Year)
    print(f"Division: {division}")
    print(f"Year: {year}")
else:
    print("File name doesn't match expected format")

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path, header=None)

# Split the data based on blank rows
blank_rows = df[df.isnull().all(axis=1)].index
tables = []
prev_idx = 0
for idx in blank_rows:
    table = df.iloc[prev_idx:idx].reset_index(drop=True)
    tables.append(table)
    prev_idx = idx + 1
table = df.iloc[prev_idx:].reset_index(drop=True)
tables.append(table)

# Extract the relevant columns for each table
names, job_titles, job_levels, objectives, kpi_names, UOMs, THs, targets = [], [], [], [], [], [], [], []
max_values, methods, weights, jan, feb, mar, apr, may, jun, jul, aug, sep = [], [], [], [], [], [], [], [], [], [], [], []
oct, nov, dec, scores = [], [], [], []

for i in range(len(tables)):
    names.append(preprocess_text(tables[i][0][0], 'name'))
    job_titles.append(preprocess_text(tables[i][0][1], 'job_title'))
    job_levels.append(preprocess_text(tables[i][0][2], 'job_level'))
    objectives.append(tables[i][5:-2][0].tolist())
    kpi_names.append(tables[i][5:-2][1].tolist())
    UOMs.append(tables[i][5:-2][2].tolist())
    THs.append(tables[i][5:-2][3].tolist())
    targets.append(tables[i][5:-2][4].tolist())
    max_values.append(tables[i][5:-2][5].tolist())
    methods.append(tables[i][5:-2][6].tolist())
    weights.append(tables[i][5:-2][7].tolist())
    jan.append(tables[i][5:-2][8].tolist())
    feb.append(tables[i][5:-2][9].tolist())
    mar.append(tables[i][5:-2][10].tolist())
    apr.append(tables[i][5:-2][11].tolist())
    may.append(tables[i][5:-2][12].tolist())
    jun.append(tables[i][5:-2][13].tolist())
    jul.append(tables[i][5:-2][14].tolist())
    aug.append(tables[i][5:-2][15].tolist())
    sep.append(tables[i][5:-2][16].tolist())
    oct.append(tables[i][5:-2][17].tolist())
    nov.append(tables[i][5:-2][18].tolist())
    dec.append(tables[i][5:-2][19].tolist())
    scores.append(tables[i][5:-2][20].tolist())

# Create a dictionary to structure the data
data = {
    'Name': names,
    'Division': division,
    'Job Title': job_titles,
    'Job Level': job_levels,
    'Objective': objectives,
    'KPI Name': kpi_names,
    'UOM': UOMs,
    'TH': THs,
    'Target': targets,
    'Max Value': max_values,
    'Method': methods,
    'Weight': weights,
    'Year': year,
    'JAN': jan,
    'FEB': feb,
    'MAR': mar,
    'APR': apr,
    'MAY': may,
    'JUN': jun,
    'JUL': jul,
    'AUG': aug,
    'SEP': sep,
    'OCT': oct,
    'NOV': nov,
    'DEC': dec,
    'Score': scores
}

# Create DataFrame
df = pd.DataFrame(data)

# # Calculate the maximum length of any list in the columns
# max_len = max(
#     df['Objective'].apply(len).max(), 
#     df['KPI Name'].apply(len).max(),
#     df['UOM'].apply(len).max(),
#     df['TH'].apply(len).max(),
#     df['Target'].apply(len).max(),
#     df['Max Value'].apply(len).max(),
#     df['Method'].apply(len).max(),
#     df['Weight'].apply(len).max(),
#     df['JAN'].apply(len).max(),
#     df['FEB'].apply(len).max(),
#     df['MAR'].apply(len).max(),
#     df['APR'].apply(len).max(),
#     df['MAY'].apply(len).max(),
#     df['JUN'].apply(len).max(),
#     df['JUL'].apply(len).max(),
#     df['AUG'].apply(len).max(),
#     df['SEP'].apply(len).max(),
#     df['OCT'].apply(len).max(),
#     df['NOV'].apply(len).max(),
#     df['DEC'].apply(len).max(),
#     df['Score'].apply(len).max()
# )

# # Repeat rows for Name, Job Title, and Job Level according to max_len
# df_repeated = df.loc[df.index.repeat(max_len)].reset_index(drop=True)

# # For each list column, truncate or expand them to match max_len
# list_columns = ['Objective', 'KPI Name', 'UOM', 'TH', 'Target', 'Max Value', 'Method', 'Weight', 'JAN', 'FEB', 
#                 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'Score']

# for col in list_columns:
#     df_repeated[col] = df_repeated[col].apply(lambda x: x[:max_len] if isinstance(x, list) else [x] * max_len)

# # Reset the index and explode the lists
# df_final = df_repeated.explode(list_columns).reset_index(drop=True)
# json_result = df_final.to_dict(orient="records")

Division: HCCA
Year: 2023

In [31]:
df

,Name,Division,Job Title,Job Level,Objective,KPI Name,UOM,TH,Target,Max Value,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Score
0,Kevin Tegar,HCCA,Business Process Excellence Manager,Middle Manager,"[obj1, obj2, obj3, obj4, obj5, obj6, obj7, obj8]","[kpi_name1, kpi_name2, kpi_name3, kpi_name4, k...","[NUMBER, NUMBER, NUMBER, NUMBER, PERCENTAGE, P...","[0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1]","[2, 2, 2, 2, 2, 2, 2, 2]",...,"[-, -, -, 0, -, -, -, -]","[0, 0, 1, 0, 0, 0, 0, 0]","[0, 0, 1, 0, 0, 0, 0, 0]","[1, 4, 2, 0, 0, 0, 0, 0]","[2, 4, 2, 0, 0, 0, 2, 0]","[3, 5, 2, 0, 0, 0, 2, 2]","[4, 5, 3, 0, 0, 0, 3, 2]","[-, -, -, 1, -, -, -, -]","[-, -, -, 2, -, -, -, -]","[0, 10, 0, 2, 0, 0, 0, 0]"
1,Komang,HCCA,Talent Acquisition Manager,Middle Manager,[obj1],[kpi_name1],[NUMBER],[0],[2],[4],...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
2,Budi Mengerti,HCCA,Business Process Excellence Manager,Junior Manager,"[obj1, obj2, obj3, obj4, obj5, obj6, obj7, obj8]","[kpi_name1, kpi_name2, kpi_name3, kpi_name4, k...","[NUMBER, NUMBER, NUMBER, NUMBER, PERCENTAGE, P...","[0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1]","[2, 2, 2, 2, 2, 2, 2, 2]",...,"[-, -, -, 0, -, -, -, -]","[0, 0, 1, 0, 0, 0, 0, 0]","[0, 0, 1, 0, 0, 0, 0, 0]","[1, 4, 2, 0, 0, 0, 0, 0]","[2, 4, 2, 0, 0, 0, 2, 0]","[3, 5, 2, 0, 0, 0, 2, 2]","[4, 5, 3, 0, 0, 0, 3, 2]","[-, -, -, 1, -, -, -, -]","[-, -, -, 2, -, -, -, -]","[0, 10, 0, 2, 0, 0, 0, 0]"